.help-container img {
    border-radius: 1.2rem;
}

.card-help{
    transition: all 0.3s ease-in-out;
    opacity: 0.9;
}

.card-help > img {
    height: 250px;
    width: 350px;
}

.card-help:hover{
    transform: scale(1.1);
    opacity: 1;
}